* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border: 0;
}

.img-carrusel {
    height: 100vh;
    /* width: 100%; */
    object-fit: cover;
    filter: brightness(0.4);
}

hr {
    border: 3px solid #d3830a;
    border-radius: 10px;
    width: 100px;
}